body{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: rgb(177, 143, 98);
}


h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: normal;
    font-size: medium;
} 

#navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: centerS;
    display: flex;
    width: 100%;
    top: 0;
    font-style: inherit;

}

.nav{
    display: flex;
    margin-top: 0cm;
    position: fixed;
}

#navbar a{
    text-decoration: solid;
    color: brown;
    font-size: 1.5em;
    padding: 1em;
    display: block;
    background-color: rgb(22, 7, 36);
}

#navbar a:hover{
    background-color: rgb(28, 16, 39);
}